---
import GitHub from "../icons/GitHub.astro"
import Link from "../icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Php from "../icons/Php.astro"
import Bootstrap from "../icons/Bootstrap.astro"
import JS from "../icons/Javascript.astro"
import CSS from "../icons/CSS.astro"
import HTML from "../icons/HTML.astro"
import Python from "../icons/Python.astro"
import Reflex from "../icons/Reflex.astro"
import Tailwind from "../icons/Tailwind.astro"

const TAGS = {
  Tailwind: {
    name: "Tailwind",
    class: "bg-[#eeedf3] text-[#36B7F0] ",
    icon: Tailwind,
  },
  Reflex: {
    name: "Reflex",
    class: "bg-[#7763c2] text-white ",
    icon: Reflex,
  },
  Python: {
    name: "Python",
    class: "bg-[#e6c93e] text-white ",
    icon: Python,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#003159] text-white ",
    icon: Php,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#533B78] text-white ",
    icon: Bootstrap,
  },
  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-yellow-700 text-white ",
    icon:  JS,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#3DA8DA]/80 text-white ",
    icon:  CSS,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#E98864]/80 text-white ",
    icon:  HTML,
  },

}
const PROJECTS = [
  {
    title: "Generador de contraseñas",
    description:
      "Aplicación web que genera contraseñas seguras y aleatorias, incluyendo el caracter Ñ. Está desarrollada con el framework Reflex de Python, lo que permite una experiencia de usuario rápida y eficiente.",
    link: "https://genpass-web-red-wood.reflex.run/",
    github: "https://github.com/fabiansec/genpass-web",
    image: "/projects/genpassweb.png",
    tags: [TAGS.Python, TAGS.Reflex, TAGS.JAVASCRIPT, TAGS.Tailwind],
  },
  {
    title: "SafeTravel",
    description:
      "Descubre la forma más fácil y rápida de planificar tus viajes en tren. Nuestra app te permite comprar billetes, gestionar tus reservas y explorar horarios en cuestión de minutos.",
    link: "",
    github: "https://github.com/fabiansec/safeTravel",
    image: "/projects/safetravel.jpg",
    tags: [TAGS.PHP, TAGS.BOOTSTRAP, TAGS.JAVASCRIPT],
  },
  {
    title: "VitalFit",
    description:"Es una aplicación web moderna diseñada para la gestión de clases de fitness, dirigida a usuarios que desean unirse a actividades y administradores que gestionan clases, actividades y salas. La plataforma ofrece una experiencia simple y eficiente para todos.",
    github: "https://github.com/fabiansec/VitalFit",
    image: "/projects/vitalfit.png",
    tags: [TAGS.PHP, TAGS.JAVASCRIPT,TAGS.CSS, , TAGS.HTML],
  },

]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>


